.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(240, 128, 36);
}

#display {
    color: aliceblue;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solidrgb(0, 0, 0);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(240, 128, 36);
}

.buttons > div {
    border-top: 1px solid rgb(119, 119, 119);
    border-right: 1px solidrgb(230, 36, 36);
}

.button {
    border: 0.5px solid rgb(109, 109, 109);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(240, 128, 36);
    color: rgb(0, 0, 0);
}


.button:hover {
    background-color: #000000;
    color: rgb(241, 40, 40);
    transition: 0.5s ease-in-out;
}

body {
    background-color: #000000d8;
}